.content {
  background-color: #e9e9e9;
}

a.create {
  left: 50%;
  transform: translateX(-50%);
  padding: 11px 14px;
  width: 240px;
  position: relative;
  z-index: 1;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

a.create span {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
}

a.create i {
  margin-left: 10px;
  padding-top: 1px;
  font-size: 1.5em;
}

a.create::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  z-index: -1;
  border-radius: 28px;
  width: 51px;
  background-color: #FFAB9D;
  transition: all .3s ease;
}

a.create:hover {
  color: white
}

a.create:hover::before {
  width: 100%;
  box-shadow: 0 .5rem .5rem #ffccc4;
}

#post {
  position: relative;
  width: 100%;
  height: 18rem;
  border: 1px solid #bdbdbd;
  overflow: hidden;
  transition: all .5s;
}

#post:hover {
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
}

.card-subtitle {
  font-size: 16px;
}

.card-body {
  position: relative;
  overflow: hidden;
}

.card-text:after {
  content: "";
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 90%);
  width: 100%;
  height: 5em;
}

.card-footer {
  display: flex;
  justify-content: space-between;
}

.card .back-drop {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  transition: .5s all;
}

.card:hover .card-header, .card:hover .card-body, .card:hover .card-footer {
  filter: blur(3px);
  transition: .5s all;
}

.card:hover .back-drop {
  background-color: rgba(202, 202, 202, 0.3);
  visibility: visible;
  opacity: 1;
  transition: .5s all;
}


.btn-action {
  border: 1px solid #ce68a8;
  background-color: white;
  width: 50%;
  margin: 1rem;
}

.btn-action:hover {
  background-color: #ce68a8;
  color: white;
}

.state {
  margin-left: 50%;
  transform: translateX(-50%);
  margin-bottom: .5rem;
  font-size: 16px;
  line-height: 1;
  border: 1px solid #ce68a8;
  padding: 5px 10px;
  transition: .3s all;
}

.state:hover {
  color: white;
  background-color: #ce68a8;
}